@using MvcApplication1.ViewModels
@model EmployeeListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
   
<body>
    Hello 
    
    <hr />
    <a href="/Employee/AddNew">Add New</a>
    <div>
        
      <table>
          <tr>
              <th>Employee Name</th>
              <th>Salary</th>
          </tr>
          @foreach (EmployeeViewModel item in Model.Employees)
          { 
          <tr>

            <td>@item.EmployeeName</td>
              <td style="background-color:@item.SalaryColor">@item.Salary</td>

          </tr>
          }

      </table>


    </div>
</body>
</html>
